.img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.user{
    display: flex;
    flex-direction: column;
    .user_name{
        display: flex;
        flex-direction: column;
        height: 50vw;
        background-color: white;
        border-radius: 20rpx;
        margin: 30rpx 30rpx;
        .use{
            display: flex;
            .user_image{
            margin-top: 20rpx;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            overflow: hidden;
            margin-right:30rpx ;
        }
        .user_nameinfo{
            margin-top: 20rpx;
            text{
                font-size: 40rpx;
                }
            button{
                margin-top: 40rpx;
            }    
            }
        }
        .use_bottom{
            display: flex;
            font-size: 40rpx;
            justify-content: space-between;
            margin:50rpx 60rpx;
            .monry{
            }
            .fans{
            }
        }   
    }
    .order{
        background-color: white;
        margin: 30rpx 30rpx;
        height: 22vh;
        border-radius: 20rpx;
        .order_title{
            font-size: 40rpx;
            margin-left: 40rpx;
            text{
                border-bottom: 1px solid black;
            }

        }
        .order_center{
            height: 10vh;
            width: 100%;
            .image{
                margin-top: 25rpx;
                display: flex;
                justify-content: space-around;
                
                    
                image{
                    width: 12vw;
                    height: 12vw;


                }
            }
            .font{
                margin-top: 10rpx;
                display: flex;
                justify-content: space-around;
            }

        }
    }
    .recommend{
        display: flex;
        flex-direction: column;
        background-color: white;
           border-radius: 20rpx;
           margin: 0 30rpx;
        .recommend_title{
            margin-top: 20rpx;
            margin-left: 20rpx;
            font-size: 40rpx;
            text{
                border-bottom: 2rpx solid black;
            }


        }
        .recommend_conter{
            display: flex;
            flex-direction: column;
           
            margin: 20rpx 10vw;
            .erwei{
                display: flex;
                margin-bottom: 20rpx;
                border-bottom: 1rpx solid rgb(224, 199, 199);
                padding-bottom: 20rpx;
                
                position: relative;
                image{
                    width: 15vw;
                    height: 15vw;
                }
                .read{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    
                    text{
                    margin-left: 60rpx;
                    font-size: 30rpx;
                    
                    
                    }
                }
                
                button{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50%;
                    width: 100%;
                    opacity: 0;
                    
                }
            }
            // .erweima{
            //     background-color: rgba(177, 180, 205, 0.1);
            // }

        }
    }
   
}
